@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

#nav-maq{
    background-color: rgb(255, 170, 0);
    padding: 10px;
}
.h1 {
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 0; 
    text-align: center;
    transition: all 0.3s ease;
    border-bottom: solid 3px black;
    border-radius: 6px;
   
 }
 .h1:hover {
 }
.navmaq {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 20px
}

.img-nav {
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: black 4px 4px 12px;
    transition: all 0.5s ease;
}

.img-nav:hover {
   width: 170px;
   height: auto;
}
