@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Naue", sans-serif;
}
.logo {
  margin: 0px 40% 0px 0px;
}

.todo-cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 42, 42);
}

.nav-bar {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.a {
  text-decoration: none;
  color: rgb(255, 170, 0);
  font-size: 10px;
  text-shadow: black 2px 4px 4px ;
  transition: all 0.3s ease;
}
.a:hover {
    font-size: 15px;
    text-shadow: black 4px 6px 6px;
    border-bottom: 1px solid rgb(255, 170, 0);
    
}
.contatos-sociais {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
  border: 2px solid yellow;
  padding: 4px;
  border-radius: 5px;
  color: yellow;
  font-size: 10px;
  box-shadow: black 2px 2px 10px ;
}


@media screen and (max-width: 600px) {
  .logo {
  margin: 0px 0% 0px 0px;
}

.todo-cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 42, 42);
}
.contatos-sociais {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
  border: 2px solid rgb(255, 170, 0);
  padding: 4px;
  border-radius: 5px;
  color: rgb(255, 170, 0);
  font-size: 10px;
  box-shadow: black 2px 2px 10px ;
}

}
@media screen and (max-width: 504px) {

.wats32 {
  width: 20px;
}
.contatos-sociais {
box-shadow: none;
border: none;
}

.pc {
  display: none;
}

}

